@import "~normalize.css";
@import "roboto.css";

body {
  font-family: 'Roboto', sans-serif;
}

.container {
  padding-top: 2rem;
  max-width: 75%;
  margin: 0 auto;
  padding-bottom: 2rem;
}

h1 {
  text-align: center;
}

#map {
  height: 600px;
  width: auto;
}

.box {
  padding: 1rem;
  border-radius: 5px;
  margin-top: 1rem;
  border: 1px solid rgb(115, 136, 255);
}

h2 {
    text-align: center;
    color: rgb(117, 175, 17);
}
